@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(240,243,244);
}

/* .swiper-button-next:after
.swiper-button-prev:after{
    color: #681621 
    
} */

:root {
    --swiper-navigation-color: white;
    --swiper-pagination-color:white;
  }
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #585c5c !important
} 


html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}
